<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hospitalaris</title>
<link rel="shortcut icon" href="{url}img/favicon.ico" type="image/ico" />
<link href="{url}style.css" rel="stylesheet" type="text/css" />
{css}
{js} 
</head>
<body>
    <div id="subtop">
    </div>
	<div id="top">
    	<div id="container">
    		<div id="top-title">
            </div>
			<div id="top-menu">
            	<ul>
                	<li><a href="#">INICIO</a></li>
                    <li><a href="noticias/">NOTICIAS</a></li>
                    <li><a href="#">CALENDARIO</a></li>
                    <li><a href="galeria/">IMAGENES</a></li>
                    <li><a href="descargas/">DESCARGAS</a></li>
                </ul>
            </div>
         </div>
    </div>
 
    <div id="main">
    	<div id="container">
        		<div id="content-top">
        			<div id="content-user-info">
                    	                   	
                    </div>
                </div>
                <div id="content-main">
                	<div id="content">
                    	<div id="content-left">
           					{content}	
						</div>
                        <div id="content-right">
                       		<h1>Galería de imágenes</h1>
                            <br/>
                            <img src="{url}img/img.png" class="gimg" />
                            <h1>Área de usuario</h1>
                            <br/>
                            {login}  
							{left}
                        </div>
                        <div class="clear">
              			</div> 
					</div>
                </div>
                <div id="content-down">
                </div>
                
        </div>
    </div>
</body>
</html>
