html, body{
color:#000;
font-size:16px;
font-family: 'Open Sans Condensed', Verdana;
margin:0 auto;
background-color:#FF9900;
font-weight: 300;
}

a{
	text-decoration: none;
}

#content{
	margin:  0 auto;
	background-color: #FFF;
	width: 94%;
	margin: 1%;
	padding: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	}

.data{
	float: left;
	font-weight: bold;
	text-align: center;
}

.stats{
	padding: 2px;
	background-color: #e5e5e5;
	border: 1px solid #CCC;
	font-size: 9px;
	margin: 2px 0;
	border-radius: 3px;
}
.bar{
	float: left;
	padding: 1px 0;
	text-align: center;
	font-size: 9px;
	font-weight: bold;
}
.total{
	text-align: right;
	padding-top: 10px;
	font-weight: bolder;
	font-size: 18px;
}
.capsule{
	padding: 5px 0;
	border-bottom: 1px solid #f1f1f1;
}

.col_3{
	float:left;
	width:33%;
	
}

.col{
	float:left;
}
.s5{
	width:3%;
	padding:1%;
}
.s10{
	width:8%;
	padding:1%;
}
.s15{
	width:13%;
	padding:1%;
}
.s20{
	width:18%;
	padding:1%;
}
.s25{
	width:23%;
	padding:1%;
}
.s30{
	width:28%;
	padding:1%;
}
.s35{
	width:23%;
	padding:1%;
}
.s40{
	width:38%;
	padding:1%;
}
.s60{
	width:58%;
	padding:1%;
}
.clear{
	clear:both;
}
.item-header{	
	font-weight:bold;
	padding:1%;
}
.item-line{
	
}
.item-search{	
	padding:1%;
	border-bottom:1px solid #CCC;
}
input{ 
    border:1px solid #666;
    padding:2%;
    width:60%;
    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-family: 'Open Sans Condensed', Verdana;
	font-size: 16px;
	font-weight: bold;
    }
    
    .button {
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:2%;
	font-size: 16px;
	text-transform: uppercase;
	color:#fff;	
	width:30%;	
	border:1px solid #1A87B9;
	font-family: 'Open Sans Condensed', Verdana;
	font-weight: bold;
}   
.line{
	border-bottom:1px solid #CCC;
}
.SHOW{
	/*display:none;*/
}
.item-main{
	padding:1%;	
}
b{
	font-weight:bold;
}
/**********************************************/

/**********************************************/
#canvas-holder{
				width:58px;
				float:left;
				margin: 2px 0px;
				margin-left:2px;
			}
/**********************************************/

/**********************************************/
.circlestat, .circlestat1, .circlestat2, .circlestat3,.circlestat4{
	float:left;
	margin: 2px 2px;
}
.circliful {
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    margin-top:0px;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
/**********************************************/

/**********************************************/
.hidden_field{
	background-color:#F9f9f9;
	border:1px solid #BBB;
	padding:5px;
	border-radius:5px;
	display:none;
	margin:5px;
	
}
.hidden_field input{
	width:80px;
	padding:5px;
	font-size: 12px;
	border-radius:5px;
	border:1px solid #CCC;
}

.hidden_field input[type="submit"]{
	width:100%;
	font-size:10px;
}



.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}