body{
	background-color: #ff7f7f;
	background-image:url(bg.gif);
	font-family: Georgia Verdana;
	font-size: 14px;
}
#main{
	background-color: #990000;
	border: 1px solid #FF0000;
	color: #FFF;
	width: 400px;
	margin: 0 auto;
	padding: 50px;
	margin-top: 200px;
}